In [9]:
from util import *
from scipy.stats import ttest_rel

In [3]:
lsi_df = pd.read_csv("../TestScores/recallLSI.csv")
vsm_df = pd.read_csv("../TestScores/recallVSM.csv")

In [4]:
lsi_df

     query_id  recall
0           1  0.2414
1           2  0.0800
2           3  1.0000
3           4  1.0000
4           5  0.6000
..        ...     ...
220       221  0.2632
221       222  0.7000
222       223  0.4000
223       224  0.1111
224       225  0.0400

[225 rows x 2 columns]

In [5]:
lsi_df = lsi_df.sort_values(by="query_id")
vsm_df = vsm_df.sort_values(by="query_id")

In [6]:
recall_lsi = lsi_df["recall"].tolist()
recall_vsm = vsm_df["recall"].tolist()

In [10]:
t_stat, p_value = ttest_rel(recall_lsi, recall_vsm)

In [14]:
print(f"Paired t-test on Recall@k")
print(f"t = {t_stat:.10f}, p = {p_value:.10f}")
if float(p_value) < 0.05:
    print("Statistically significant difference (p < 0.05)")
else:
    print("No significant difference (p ≥ 0.05)")

Paired t-test on Recall@k
t = 4.4867335960, p = 0.0000115616
Statistically significant difference (p < 0.05)